@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">SoulsLikes, and Why You Should Play Them</h1>
    <br />
    <img src="lib/soulslikes-singleplayer-hero-1693575228449.jpg"/>
    <br />
    <br />
    <p>"SoulsLike" is a genre of video games named after the well-known Dark Souls trilogy. <br />
        While Dark Souls is most famous (or perhaps infamous) for being a very difficult game, <br />
        there is much more to the SoulsLike formula than just difficulty. A few key components include:<br />
    </p>
    <ul>
        <li>Numerous boss fights of varying difficulty,</li>
        <li>Dodge and/or parry mechanics, requiring specific timing to effectively avoid/block enemies attacks,</li>
        <li>Penalties for dying, such as loss of currency/experience, </li>
        <li>Periodic checkpoints that allow the player to restore their health, but also respawn previously defeated enemies.</li>
    </ul>
    <p>
        Some additional features that most but not all Soulslikes include are:
    </p>
    <ul>
        <li>Healing items you can use a limited number of times to restore your health, which are refreshed when you rest at a checkpoint,</li>
        <li>A single currency used as both money and experience,</li>
        <li>Access to a variety of weapons/spells, allowing for differing playstyles, </li>
    </ul>
    <p>
        All of these features come together to create a game that is challenging and rewarding. <br />
        This is especially the case for games produced by FromSoftware, the company that made Dark Souls, Sekiro, and Elden Ring. <br />
        They quite literaly invented the SoulsLike genre, and their games have a magic to them that few can emulate.<br />
    </p>
    <p>
        So, that's what a SoulsLike is, but why should you try one? <br />
        Hidetaka Miyazaki, the Creative Director and President of FromSoftware, said it best:<br /><br />
        <img src="lib/images.jpg" width="310" />
        <br />"I just want as many players as possible to experience the joy that comes from overcoming hardship."<br />
        That mentality is at the heart of the SoulsLike genre.<br />
    </p>

    <p>
        In short: if you are the type of person that just wants to relax when they get a chance to play a video game, <br />
        then SoulsLikes probably aren't your thing, and that's perfectly okay. However, if you enjoy a challenge, <br />
        and love the exhileration of overcoming an obstacle after failing dozens of times, <br />
        achieving something that at first glance seemed impossible, then you will LOVE SoulsLikes.<br />
        Start with Elden Ring. It is specifically designed to be the most accessable to new players. <br />
        Don't expect it to be easy though, just expect it to be doable.<br />

    </p>

</div>
